.footer
	.footer-list1
		.footer-link
			ul.link-mode
				li.link-mode-list
					span.icon-tag.icon-help
					span.link-title-text 帮助中心
				li.link-mode-list
					a.link-mode-items(href="help_center.html") 常见问题
				li.link-mode-list
					a.link-mode-items(href="#") 社保查询
				li.link-mode-list
					a.link-mode-items(href="#") 如何自助缴纳社保
				li.link-mode-list
					a.link-mode-items(href="#") 如何申请成为合伙人
			
			ul.link-mode
				li.link-mode-list
					span.icon-tag.icon-zn
					span.link-title-text 购买指南
				li.link-mode-list
					a.link-mode-items(href="#") 套餐介绍
				li.link-mode-list
					a.link-mode-items(href="#") 服务说明
			.hr-line
			ul.link-mode
				li.link-img-list
					img(src="../content/images/weixin.jpg",alt="微信官网")
					span.img-con 微信官网
				li.link-img-list.last-margin
					img(src="../content/images/weixin.jpg",alt="微信官网")
					span.img-con 手机客户端
			.hr-line
			ul.link-mode
				li.link-mode-list
					span.icon-tag.icon-tel
					span.link-title-text 全国热线电话：
				li.link-mode-list
					span.link-tel 400-8888-188
				li.link-mode-list
					.list-text 周一到周五 8:30-18:00
					.list-text 周六到周日 9:00-18:00
					

	.footer-list2
		.footer-copy
			.copy-con Copyright &copy 2014 - 2017深圳市新友益互联网有限公司
				a.icp(href="#")  粤ICP备15027503号-1
			.addrr-con 地址：广东省深圳市龙华新区龙胜大厦
		