.footer
	.footer-list1(style="text-align:center;")
		.footer-copy
			img(src="../content/images/logo_white.png")
			.kh-text 客服专线：0755 - 83579842
			.copy-con Copyright &copy 2014 - 2017深圳市新友益互联网有限公司
				a.icp(href="#")  粤ICP备15027503号-1
			.addrr-con 地址：广东省深圳市龙华新区龙胜大厦
		