.header
	.header-con
		.sb-logo
			a(href="index.html")
				img(src="../content/images/1-1.png",alt="logo")
		.sb-nav
			ul.sb-nav-list
				li.sb-nav-items
					a.on(href="index.html") 首页
				li.sb-nav-items
					a(href="#tc") 产品套餐
				li.sb-nav-items
					a(href="#fw") 产品服务
				li.sb-nav-items
					a(href="#about_us") 公司介绍
				li.sb-nav-items
					a(href="#case") 案例介绍
				li.sb-nav-items
					a(href="#news") 公司动态
				li.sb-nav-items
					a(href="#content_us") 联系我们
				