extends /jade/layout

block title
	title 新友益

block content
	.sb-content
		#slider-wrap
			#slider.nivoSlider
				a.nivo-imageLink(href="/")
					img(src="../content/images/banner_11.jpg" alt="" title="a" width="1920" height="600")
				a.nivo-imageLink(href="/")
					img(src="../content/images/banner_11.jpg" alt="" title="b" width="1920" height="600")
				a.nivo-imageLink(href="/")
					img(src="../content/images/banner_11.jpg" alt="" title="c" width="1920" height="600")
		.web-mode
			.web-mode-content
				.web-mode-title 响应式网站建设服务领域品牌
				.web-mode-info
					.web-mode-text 提供响应式网站、ＡＰＰ和微信公众平台建设服务
				.web-mode-btn
					a.width-2(href="javascript:;") 联系业务顾问
		.web-mode.grey-bg#tc
			.web-mode-content
				.web-mode-title 价格
					span.green-text 标准化
				.web-mode-info
					.web-mode-text 如果您能在市场上找到与我们同样技术、同样功能、同样价格的系统，我们承若，终身免费使用！
				.sb-row
					.sb-col-5.sb-offset-1
						.web-pro
							img(src="../content/images/p_1.png",alt="p1")
							.p-title 官网展示型
							.web-mode-btn.pro-btn
								a(href="javascript:;") 立即咨询
							.web-mode-text PC网站+移动网站+微站
							.p-con
								.web-mode-text.g-color 功能：内容系统、留言系统、图库系统、活动系统。
								.web-mode-text.g-color 注：可生成安卓APP、苹果APP只需9980元/年
					.sb-col-5.sb-offset-1
						.web-pro
							img(src="../content/images/p_2.png",alt="p1")
							.p-title 购物商城型
							.web-mode-btn.pro-btn
								a(href="javascript:;") 立即咨询
							.web-mode-text PC网站+移动网站+微站
							.p-con
								.web-mode-text.g-color 功能：内容系统、留言系统、图库系统、活动系统、视频系统、用户系统、消息系统、购物系统、商品系统、供销系统。
								.web-mode-text.g-color 注：可生成安卓APP、苹果APP只需29980元/年
					.sb-col-5.sb-offset-1
						.web-pro
							img(src="../content/images/p_3.png",alt="p1")
							.p-title 分销商城型
							.web-mode-btn.pro-btn
								a(href="javascript:;") 立即咨询
							.web-mode-text PC网站+移动网站+微站
							.p-con
								.web-mode-text.g-color 功能：内容系统、留言系统、图库系统、活动系统、视频系统、用户系统、消息系统、购物系统、商品系统、供销系统、分销功能。
								.web-mode-text.g-color 注：可生成安卓APP、苹果APP只需39980元/年
					.sb-col-5.sb-offset-1
						.web-pro
							img(src="../content/images/p_4.png",alt="p1")
							.p-title 新零售平台型
							.web-mode-btn.pro-btn
								a(href="javascript:;") 立即咨询
							.web-mode-text PC网站+移动网站+微站
							.p-con
								.web-mode-text.g-color 功能：内容系统、留言系统、图库系统、活动系统、视频系统、用户系统、消息系统、购物系统、商品系统、供销系统、分销功能、云店功能。
								.web-mode-text.g-color 注：可生成安卓APP、苹果APP只需59980元/年
		.web-mode#fw
			.web-mode-content
				.web-mode-title 一站式
					span.green-text 全包服务
				.web-mode-info
					.web-mode-text 专项小组，全程服务，快速上线
				.sb-row.fw-mode
					.sb-col-7.sb-offset-1
						.f-list
							img.f-img(src="../content/images/f_1.png",alt='1')
							.f-list-con
								.f-title 包咨询
								.f-info 业务顾问提供免费咨询，出具建站方案，推荐网站模板，并跟踪整个服务流程。
					.sb-col-7.sb-offset-1
						.f-list
							img.f-img(src="../content/images/f_2.png",alt='1')
							.f-list-con
								.f-title 包制作
								.f-info 系统设置、页面制作、数据添加、App打包上架、协助申请第三方账号和接口。
					.sb-col-7.sb-offset-1
						.f-list
							img.f-img(src="../content/images/f_3.png",alt='1')
							.f-list-con
								.f-title 包维护
								.f-info 专业运维团队进行全年系统免费维护，一对一专属客服为客户提供运营过程中的问题解答。
				.sb-row
					.sb-col-7.sb-offset-1
						.f-list
							img.f-img(src="../content/images/f_4.png",alt='1')
							.f-list-con
								.f-title 包域名
								.f-info 赠送.com或.cn域名一个一年，包注册、备案、解析管理，域名所有权归客户所有。
					.sb-col-7.sb-offset-1
						.f-list
							img.f-img(src="../content/images/f_5.png",alt='1')
							.f-list-con
								.f-title 包服务
								.f-info 自动部署于阿里云服务器，节点分布稳定速度快；数据每日备份，安全有保障。
					.sb-col-7.sb-offset-1
						.f-list
							img.f-img(src="../content/images/f_6.png",alt='1')
							.f-list-con
								.f-title 包空间
								.f-info 套餐包含云存储空间，存放图片等网站文件，全国CDN节点分布，读取速度快。
		.web-mode.grey-bg
			.web-mode-content
				.web-mode-title
					span.green-text 标准化
					| 提供更多
				.web-mode-info
					.web-mode-text 让您的网站不仅强大而可靠，更方便了您的运营管理，让您没有了后顾之忧
		

		



